<html>
    <head>
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <h1 id="welcome">Welcome To Sky Beats</h1>
           
            <h2 class="login"> Login here</h2>
            <form action="">
                <img id="username-logo" src="https://as2.ftcdn.net/jpg/02/15/13/95/500_F_215139565_gZ8F2mKkbnS8d90nbEOESqmrH6fk3eGZ.jpg" alt="">
                <input class="user-name" type="text" name="username" placeholder="Enter username">
                <img id="password-logo" src="https://www.flaticon.com/svg/static/icons/svg/958/958519.svg" alt="">
                <input class="password" type="password" name="password" placeholder="Enter password">
                <input id="signin-button" type="submit" value="Sign-In">
                <h3 id="statement">Don't have an account? <a href="">Sign up </a> here</h3>
                
                
            </form>
        </div>
    </body>
</html>